@page
@model Veterinaria.App.Frontend.Pages.DetailTipoMascotasModel
@{
}

<h1>Detalle Tipo de mascota</h1>

<ul >
  <li class="list-group-item">Id: @Model.tipomascota.Id</li>
  <li class="list-group-item">Nombre: @Model.tipomascota.clase</li>
  
</ul>