@page
@model Veterinaria.App.Frontend.Veterinarios.RemoveVeterinariosModel
@using Veterinaria.App.Dominio;
@{
}

<h1>Confirmación de Eliminación</h1>
<p>Seguro desea eliminar al veterinario:  @(Model.veterinario.nombre +" "+ Model.veterinario.apellido) </p>
<form method="post" class="mt-3">

<input hidden asp-form =veterinaro.documento/>
<button type = "submit" class = "btn btn-primary">Si</button>
<a asp-page="./ListVeterinarios" class="btn btn-primary">No</a>

</form>

